* {
    font-family: Catamaran, sans-serif;
}

canvas {
    border: 2px solid black;
    background: #aaaaaa;
    float:left;
}

.inputContainer {
    float:left;
}

.inputContainer ul {
    list-style: none;
    height: 100%;
    width: auto;
}

.inputContainer ul li {
    margin-bottom: 5%;
}

footer h5 {
    float:left;
    width: 100%;
}

#lastAction {
    width: 25%;
    float:right;
}

#stepsUsed {
    width: 25%;
    float:right;
}